body {
  background: linear-gradient(135deg, #fffdff, #5008a3);
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
